.cabecalho th{
    background-color: #045FCC;
    position: sticky;  
    top: 0;            
    z-index: 1; 
    color: #fff;
}

.cabecalho th:first-child{
    background-color: #045FCC;
    border-radius: 9px 0 0 9px;
    color: #fff;
}

.cabecalho th:last-child{
    background-color: #045FCC;
    border-radius: 0 9px 9px 0;
    color: #fff;
}

.caixaTabela{
    max-height: 400px;
    overflow-y: auto;
}