.categorias{
    padding: 30px 30px 20px 30px;
}

.caixacategoria{
    
    display: flex;
    background-color: #fff;
    border-radius: 38px;
    padding: 30px;
    justify-content: space-between;
    width: 1000px;
}

.artigos{
    padding: 0 30px;
}

.caixaartigos{
    position: relative;
    display: flex;
    height: 432px;
    background-color: #fff;
    border-radius: 38px;
    padding: 30px;
    justify-content: space-between;
    flex-wrap: wrap;
}

.paginas{
    position: relative;
    left: 45%;
    margin-top: -33px;
}
