*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.cartaoartigo{
    position: relative;
    width: 430px;
    height: 110px;
    display: flex;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 14px;
    padding: 10px 20px;
    color: #044BB2;
    display: block;
}
.nomeartigo{
    font-size: 16px;
    margin-bottom: 0;
    font-weight: 600;
    
}

.resumo{
    font-size: 12px;
    padding: 0 32px 10px 0px;

}

.baixar{
    position: absolute;
    top:75px;
    left: 370px;
    background-color: #044BB2;;
}